# ============================================
# APPLICATION
# ============================================
PORT=3002
NODE_ENV=development

# ============================================
# POSTGRESQL
# ============================================
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=medisync
POSTGRES_USER=medisync
POSTGRES_PASS=medisync

# ============================================
# RABBITMQ
# ============================================
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
EVENTS_EXCHANGE=medi-sync.events
COMMANDS_EXCHANGE=medi-sync.commands
